.VideoContainer {
	margin-top: 1.5rem;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 60% 35%;
	grid-template-rows: 1fr 1;
	/* gap: 1rem; */
}

.NewestVideo {
	width: 100%;
}

.OldVideo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
