.BrandsContainer {
	width: 68.9vw;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
}

.TopBrands {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
	width: 100%;
	gap: 5rem;
}

.TopBrands div {
	width: 16%;
}

.BrandsMessage span {
	margin-top: 1rem;
	font-size: 18px;
	line-height: 28px !important;
}
