.ProductContainer {
	/* box-sizing: border-box; */
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
	margin: 1rem 0;
	gap: 1rem;
}

.ProductBox {
	width: 800px !important;
	height: 100%;
	margin-right: 2rem;
}

.ProductBox img {
	width: 100% !important;
	object-fit: cover;
}

.RateProduct {
	font-weight: bold;
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.Desc {
	font-size: 14px;
}

#Premium {
	color: grey;
}

.Slider {
	margin: 0 auto;
}
