.Pondation {
	border-top: 1px solid #e4e4e4;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.FooterContainer {
	box-sizing: border-box;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 1fr auto;
	grid-gap: 10px 20px;
	/* padding: 2rem 23rem; */
	width: 68.9vw;
}

.ChildFooterContainer ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.ChildFooterContainer ul li {
	list-style-type: none;
	width: 33%;
	padding: 1rem 0;
	font-size: 14px;
	font-weight: 700;
}

.ChildFooterContainer .Downloads {
	width: 100%;
}
.ChildFooterContainer .Images {
	width: 50%;
	padding: 0;
}

.FooterSosmed {
	display: flex;
	gap: 0 20px;
}
.Footer img {
	cursor: pointer;
}

.CopyRightContainer {
	/* color: #ececec; */
	font-size: 14px;
}

.AdsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
