:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--bg-main: rgb(255 255 255);
}

@media (for-text) {
	:root {
		--font-light: 400;
		--font-normal: 500;
		--font-medium: 600;
		--font-semi-bold: 700;
		--font-bold: 800;

		--txt-xs: 12px;
		--txt-sm: 14px;
		--txt-md: 16px;
		--txt-lg: 18px;
		--txt-xl: 20px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	/* overflow-x: hidden; */
	background-color: var(--bg-main);
	color: black;
	font-family: "Poppins", sans-serif;
}

p {
	font-family: "Roboto";
}

.poppin-xs {
}

.poppin-md {
	font-size: var(--txt-md);
}

.font-light {
	font-weight: var(--font-light);
}
.font-medium {
	font-weight: var(--font-medium);
}

/* SUB HEADER CONTENT */
.sub-header-container {
	width: 68.9vw;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
}
.sub-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.7rem;
	font-weight: 400;
}
.sub-head span {
	color: #5e5e62;
}
.see-more {
	color: #eb2c85;
	cursor: pointer;
}
